@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

* {
  -webkit-overflow-scrolling: touch;
}

/* Smooth scroll for webkit browsers */
@supports (-webkit-overflow-scrolling: touch) {
  * {
    -webkit-overflow-scrolling: touch;
  }
}